<a name="the-top"></a>
{% for class in docsMetadata %}
## {{class.name}}

```php
use {{class.classFqcn}};
```
{% if class.title %}

> {{class.title}}
{% endif %}
{% if class.texts %}

{{class.texts|join("\n")}}
{% endif %}
{% for name, method in class.methods if method.isPublic and not method.maybeMagic %}

### {{name}}()
{% if method.title %}

> {{method.title}}
{% endif %}

```php
{{method.isStatic ? '::' : ''}}{{name}}({{method.params|join(', ')}}){{method.return ? ': ' ~ method.return : ''}}
```
{% if method.texts %}

{{method.texts|join("\n")|replace({'<code>':"```php",'</code>':"```"})|raw}}
{% endif %}
{% endfor %}

**[⬆ back to top](#the-top)**

{% endfor %}
