<a name="the-top"></a>
{% for class in docsMetadata %}
## {{class.name}}

```php
use {{class.classFqcn}};
```
{% if class.title %}

> {{class.title}}
{% endif %}
{% if class.texts %}

{{class.texts|join("\n")}}
{% endif %}
{% for name, method in class.methods if method.isPublic and not method.maybeMagic %}

### {{name}}()
{% if method.title %}

> {{method.title}}
{% endif %}

<details><summary>Details …</summary>
<div>

```php
{% set params = call('array_column', method.params, 0) %}
{{method.isStatic ? '::' : ''}}{{name}}({{params|join(', ')}}){{method.return ? ': ' ~ method.return[0] : ''}}
```
{% if method.texts %}

{{method.texts|join("\n\n")|replace({'<code>':"```php", '</code>':"```"})|raw|nl2br}}
{% endif %}
{% if method.throws %}

> _Throws_ **{{method.throws[0]}}** {{ method.throws[1] ? '_' ~ method.throws[1] ~ '_' : '' }}
{% endif %}

</div>
</details>
{% endfor %}

**[⬆ back to top](#the-top)**

{% endfor %}
